<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <title>Index </title> 
    </head>
    <body style="background-color: yellow;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size: 20px">
                <a class="navbar-brand" href="#">SYLVESTER</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: white" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    </ul>
                    <span class="navbar-text">
                   .
                    </span>
                </div>
        </nav> 
        <div class="container" style="padding: 5%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            <div class="header" style="text-align:center;">
<!--
             <i style="font-size:80px;">SYLVESTER</i> <img src="./static/images/twitter_logo.png" width="20%"/><br>
             <i style="font-size:20px;">Analysing Personel Twetter Account with AI</i>
-->
            <img src="./static/images/logo.png" width="85%"/>
            
            </div> 
            <br> 
            <form action = "{{ url_for('personal_analysis') }}" method = "POST">
                <div class="input-group mb-3" >
                    <input type="text" class="form-control" style="font-size:20px;" name="username" placeholder="Please, Enter Username.." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append" >
                    <button class="btn btn-danger"  type="submit" id="Analysis" style="font-size:20px;"> Analysis </button>
                    </div>
                </div>
                
                <div class="text-center" id="loading" style="display: none">
                        <h3>Analysing..</h3><br>
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                </div>
            </form>

            
        </div>
        <script>
                    document.getElementById("Analysis").onclick = function() { 
                    document.getElementById("loading").style.display = "block"; }
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>